body {
margin: 0;
font-family: Arial, sans-serif;
background: #f4f4f4;
}


header {
background: #111;
color: white;
text-align: center;
padding: 20px;
}


nav {
background: red;
text-align: center;
padding: 10px;
}


nav a {
color: white;
margin: 10px;
text-decoration: none;
font-weight: bold;
}


.section {
background: white;
margin: 15px;
padding: 15px;
border-radius: 6px;
}


footer {
background: #111;
color: white;
text-align: center;
padding: 10px;
}